$c: 1.3;

@media (max-width: 1200px) {
  .intro {
    padding: 36px 7vw 170px 7vw;
  }

  .header__item img {
    height: 50px;
  }

  .nav__links li a {
    font-size: 19px;
    margin-right: 20px;
    line-height: 50px;
  }

  .btn {
    padding: 12px 28px;
  }

  .btn--box {
    min-width: 40px;
    min-height: 40px;
    width: 40px;
    height: 40px;
    background-size: 25px;

  }

  .box--line {
    margin: auto 6px;
  }

}

@media (max-width: 940px) {



  .btn--box {
    min-width: 30px;
    min-height: 30px;
    width: 30px;
    height: 30px;
    background-size: 18px;

  }

  .box--line {
    margin: auto 6px;
  }

  .section {
    .section__title {
      margin-top: 100px;
    }
  }

  .roadmap {
    padding: 30px 20px;
  }

  

  h1 {
    font-size: 48px;
  }

  .intro {
    min-height: 100vh;
    height: 100%;
    padding: 18px 5vw 20px 5vw;
  }

  .intro__item .right {
    margin: 0 auto;
    width: 90%;
    img {
      top: 60%;
    }
  }

  .intro__item--wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 300px 600px;
  }

  .cards {
    display: block;
    .card {
      max-width: 100%;
      width: 45%;
      margin: 0 auto;
      margin-bottom: 50px;
    }
  }

  .header {
    position: relative;
    height: 52px;
  }

  .btn {
    h3 {
      font-size: 20px;
    }
  }
  .cards {
    .card {
      width: 60%;
      margin-bottom: 40px;
    }
    .card__title {
      font-size: 24px;
    }

    .card__text {
      font-size: 13px;
    }
  }

  .intro__item {
    .intro__bottom {
      a {
        font-size: 14px;
      }
    }
  }

  .nav__toggle {
    display: block;
  }
  nav {
    position: static;
    .nav__links {
      position: absolute;
      width: 100vw;
      bottom: -160%;
      transform: translateX(-50%);

      justify-content: center;
      transition: 0.3s all linear;
      left: 300%;
      li {
        a {
          font-size: 25px;
        }

        .nav__active::after {
          content: none;
        }
      }
    }
  }

  .bgitems {

    .ellipse {
      width: 30vw;
    }

    .graffity {
      width: (19.3vw * $c);
    }

    #logo2-1 {
      top: -7%;
      width: (26vw * $c);
  }
  
    #smoke {
        width: (11vw * $c);
    }

    #graffity2 {
        width: (16vw * $c);
    }

    #graffity-small {
        bottom: -1%;
        width: (11vw * $c);
    }

    #chain {
        width: (9vw * $c);
    }

    #glasses {
      width: 30vw;
    }
  }
}


@media (max-width: 768px) {

  .roadmap {
    padding: 1px 24px;
  }

  .roadmap__title {
    font-size: 22px;
  }

  p {
    font-size: 20px;
  }

  .roadmap__boxes {
    display: none;
  }

  .roadmap__info {
    display: block;
  }

  .faq__item {
    padding: 20px;
    font-size: 20px;
  }

  .faq__text {
    font-size: 14px;
  }

  .faq__btn {
    margin-left: 10px;
    width: 29px;
    height: 29px;
  }
}

@media (max-width: 550px) {

  .btn--yellow {
    font-size: 23px;
  }

  h1 {
    font-size: 31px;
  }

  .header .header__item {
    img {
      height: 60%;
    }

    .btn {
      padding: 8px 20px;
    }
  }

  nav {
    padding-left: 10px;
    .nav__toggle {
      width: 40px;
      height: 35px;
      margin-top: (52px / 2 - 35px / 2);
    }
    .nav__links {
      li {
        a {
          font-size: 12px;
        }
      }
    }
  }

  .header__item img {
    margin-right: 10px;
  }

  .intro__item {
    .right {
      img {
        top: 70%;
      }
    }
  }

  // .btn {
  //   margin-right: 20px !important;
  // }


  .bgitems {

    .ellipse {
      width: 40vw;
      height: 40vw;
    }

    .graffity {
      width: (19.3vw * 1.5);
    }
  }

  .intro__item--wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 300px 300px;
  }


  .footer__items {
    .footer__item {
      img {
        height: 40px;
      }
    }
  }
}


@media (max-width: 320px) {
  h1 {
    font-size: 20px;
  }

  .underline::after {
    height: 12px;
  }

  .btn {
    h3 {
      font-size: 17px;
    }
  }

  .intro {
    padding: 10px;
  }

  .intro__item {
    .intro__bottom {
      a {
        line-height: 38px;
      }
    }
  }

  .header .header__item .btn {
    padding: 8px 11px;
  }

  h2 {
    font-size: 31px;
  }

  .section .section__title .section__title--header img {
    margin-left: 10px;
    width: 30px;
    height: 30px;
}
}