.bgitems {
    z-index: -1;
    & > * {
        position: absolute;
    }
    .ellipse {
        
        width: 21.6vw;
        height: 21.59vw;
        border-radius: 100%;
        background: #A6A849;
        filter: blur(40px);
        &#el1 {
            top: 5%;
            right: -12%;
        }

        &#el2 {
            top: 50%;
            left: -15%;
        }
    }

    .graffity {
        width: 19.3vw;
        height: auto;
    }

    #graffity-house {
        width: 12vw;
        top: 33%;
        left: -12.5%;
    }

    #gr1 {
        top: 20%;
        left: -7%;
    }

    #logo2-1 {
        width: 26vw;
        top: -50%;
        left: -10%;
    }
    
    #smoke {
        width: 11vw;
        top: 8%;
        right: -13%;
    }

    #graffity2 {
        width: 16vw;
        top: -3%;
        right: 11%;
        z-index: -1;
    }

    #graffity-small {
        width: 11vw;
        bottom: -5%;
        right: -4%;
    }

    #chain {
        width: 9vw;
        top: 100%;
        right: 30%;
    }

    #glasses {
        top: -5%;
        left: 20%;
    }
}

