.bgitems {
    // position: absolute;
    .ellipse {
        position: absolute;
        width: 21.6vw;
        height: 21.59vw;
        border-radius: 100%;
        background: #A6A849;
        filter: blur(40px);
        &#el1 {
            top: 5%;
            right: -12%;
        }

        &#el2 {
            top: 50%;
            left: -15%;
        }
    }

    .graffity {
        position: absolute;
        width: 19.3vw;
        height: auto;
    }
    #gr1 {
        top: 10%;
        left: -7%;
    }
    
}