.nav__toggle {
    width: 52px;
    height: 52px;
    display: none;
    position: relative;
}

.btn__line {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #fff;
    left: 0;
    -webkit-transition: .3s all linear;
    -o-transition: .3s all linear;
    transition: .3s all linear;
}

#menu__wrapper {
    cursor: pointer;
}

.line--1 {
    top: 0;
}

.line--2, .line--3 {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
} 

.line--4 {
    bottom: 0;
}



.btn--active .line--1, .btn--active .line--4{
    opacity: 0;
}

.btn--active .line--2 {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.btn--active .line--3 {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.btn--active .nav__links {
    opacity: 0;
}


.ul--active {
    z-index: 1;
    
        li {
            background: rgba(37, 42, 54, 0.5);
            -webkit-backdrop-filter: blur(100px);
                    backdrop-filter: blur(100px);
            border-radius: 10px;
            margin-right: 10px;
            a {
                color: #fff;
                margin: 0 !important;
                padding: 0 10px;
            }

            &:last-child {
                margin-right: 0;
            }
        }

    &.nav__links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        left: 50%;
    }
}




