$btn-bg: #777a80;


.post__header {
    margin-top: 132px;
}

.faq__wrapper{
    margin: 0 auto;
}

.faq__item {
    margin-bottom: 25px;
    padding: 30px;
    background: rgba(37, 42, 54, 0.5);
    backdrop-filter: blur(100px);
    border-radius: 10px;
    width: 100%;
    transition: .3s all linear;
}


.faq__item--main-wrapper {
    display: flex;
    justify-content: space-between;
}

.faq__text {
    margin-top: 20px;
    max-width: 1200px;
    display: none;
    transition: .3s all linear;
}

.faq__active {
    display: block;
}

.faq__active .faq__item {
    padding: 0;
}


.faq__btn {
    width: 33px;
    height: 33px;
    border-radius: 10px;
    border: none;
    background: $btn-bg;
    position: relative;
    background-image: url('../img/plus.svg');
    background-position: center;
    background-repeat: no-repeat;
    transition: .3s all linear;

}

.faq__btn--active {
    
    background-image: url('../img/cross.svg');
}



