.footer {
    padding: 160px 10vw 100px 10vw;
}
.footer__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    .footer__item{ 
        img {
            max-height: 70px;
            height: 70px;
        }

    }

    .footer__item--icons {
        display: flex;

        a {
            margin-left: 18px;
            display: flex;
            img {
                vertical-align: middle;
                max-height: 60px;
                height: 60px;
            }
        }
        
    }

}