body, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}
ul
{
list-style: none;
padding: 0;
margin: 0;
}