$yellow: #A6A849;
$secondary: #6B748A;


.roadmap {
    max-width: 1270px;
    width: 80vw;
    padding: 42px;
    border: none;
    background: rgba(37, 42, 54, 0.5);
    backdrop-filter: blur(50px);
    border-radius: 25px;
    margin: 0 auto;
    margin-bottom: 20px;
}


.roadmap__boxes {
    display: flex;
    justify-content: space-between;
    div {
        width: 100%;
        display: flex;
    }
}


.btn--box {
    min-width: 36px;
    width: 36px;
    height: 36px;
    padding: 7px;
    border: none;
    background-color: $secondary;
    
    border-radius: 15px;
    position: relative;
    margin: 0;
    position: relative;
    
    &.box-checked {
        background-color: $yellow;

        .box--line + & {
            background: $yellow;
        }

    }
    
    &::before {
        content: '';
        display: block;
        background: url('../img/notchecked.webp') center no-repeat;
        background-size: 22px;
        width: 30px;
        height: 30px;
        opacity: 0.4;
        border-radius: 5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &:first-child {
        margin: 0;
    }
    &:last-child {
        margin-right: 0;
    }
}




.box--line {
    margin: auto 13px;
    display: block;
    padding: 0 10px;
    width: 100%;
    height: 6px;
    background: $secondary;
    border-radius: 46px;
}


.roadmap__info {
    margin-top: 47px;
    display: none;

    p {
        margin-top: 10px;
        margin-bottom: 0;
        max-width: 950px;
    }
}

.roadmap__info--active {
    display: block;
}