$yellow: #A6A849;
$secondary: #6B748A;


.roadmap {
    
    max-width: 1270px;
    width: 80vw;
    padding: 42px;
    border: none;
    background: rgba(37, 42, 54, 0.5);
    backdrop-filter: blur(50px);
    border-radius: 25px;
    margin: 0 auto;
    margin-bottom: 20px;
}


.roadmap__boxes {
    display: flex;
    justify-content: space-between;
    div {
        width: 100%;
        display: flex;
    }
}


.btn--box {
    min-width: 50px;
    min-height: 50px;
    width: 50px;
    height: 50px;
    padding: 6px;
    border: none;
    background-color: $secondary;
    background-image: url('../img/notchecked.webp');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 15px;
    position: relative;
    margin: 0;
    position: relative;
    
    &.box-checked {
        background-color: $yellow;
        background-image: url('../img/checked.webp');
    }
    
    &:first-child {
        margin: 0;
    }
    &:last-child {
        margin-right: 0;
    }
}

.box--active {
    position: relative;

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 130%;
        height: 130%;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 20px;
    }
}

.box--line {
    margin: auto 13px;
    display: block;
    padding: 0 10px;
    width: 100%;
    height: 6px;
    background: $secondary;
    border-radius: 46px;
}

.box--line-checked{
    background-color: $yellow;
}


.roadmap__info {
    margin-top: 47px;
    display: none;

    p {
        margin-top: 10px;
        margin-bottom: 0;
        max-width: 950px;
    }
}

.roadmap__info--active {
    display: block;
}