.roadmap {
    max-width: 1270px;
    width: 80vw;
    padding: 42px;
    border: none;
    background: rgba(37, 42, 54, 0.5);
    backdrop-filter: blur(50px);
    border-radius: 25px;
    margin: 0 auto;
    margin-bottom: 20px;
}


.roadmap__boxes {
    display: flex;
    justify-content: space-between;
}


.btn--box {
    min-width: 36px;
    width: 36px;
    height: 36px;
    padding: 7px;
    border: none;
    background-color: #A6A849;
    
    border-radius: 15px;
    position: relative;
    margin: 0 13px;
    position: relative;
    

    &::before {
        content: '';
        display: block;
        background: url('../img/checked.webp') center no-repeat;
        width: 30px;
        height: 30px;
        opacity: 0.4;
        border-radius: 5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &:first-child {
        margin-left: 0;
    }
    &:last-child {
        margin-right: 0;
    }
}


.box--line {
    margin: auto;
    display: block;
    width: 100%;
    height: 6px;
    background: #A6A849;
    border-radius: 46px;
    &:last-child{
        display: none;
    }
}


.roadmap__info {
    margin-top: 47px;

    p {
        margin-top: 10px;
        margin-bottom: 0;
        max-width: 950px;
    }

}