.section {

    padding: 0 10vw;
    .section__title {
        max-width: 737px;
        width: 80%;
        position: relative;
        margin: 0 auto;
        text-align: center;
        margin-top: 160px;
        margin-bottom: 60px;

        .section__title--header {
            display: flex;
            justify-content: center;
            margin-bottom: 25px;
            img {
                margin-left: 10px;
                width: 44px;
                height: 44px;
            }
        }
    }
}

.cards {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 0px;
    
    .card {
        padding: 20px 20px 30px 20px;
        background: rgba(37, 42, 54, 0.5);
        backdrop-filter: blur(100px);
        border-radius: 25px;
        text-align: center;
        max-width: min(350px, 20vw);
        flex: 1 1 auto;
        margin: 15px 30px;

        // &:last-child {
        //     margin-right: 0;
        // }
    }

    .card__img {
        margin-bottom: 24px;
        width: 100%;
        height: auto;
    }

    .card__title {
        margin-bottom: 7px;
    }
}



.post__header {
    margin-top: 180px;

    img {
        width: 44px;
        height: 100%;
        position: relative;
        top: 7px;
    }
}

.post__text--long {
    max-width: min(1110px, 80vw);
}


.post__text--short {
    max-width: 650px;
}


.section--join {
    position: relative;
    padding: 0;
    width: 100vw;
    min-height: 25vw;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/footer_bg.webp');
    margin-top: 150px;
}

.section--roadmap {
    position: relative;
}

.join {
    padding: 75px 10vw;
}


.join__title {
    margin-top: 61px;
    opacity: .9;
}

