$yellow: #A6A849;
$main: #ffffff;
$secondary: #6B748A;
$bg-main: #12131F;

body {
    background-color: $bg-main;
}


.intro {
    padding: 36px 10.4vw  170px 10.4vw;
    height: 100vh;
    max-height: 100%;
    background: $bg-main;    
    position: relative;
}



.intro__item--wrapper {
    height: 90%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.intro__item {
    max-height: 100%;
    position: relative;  
    margin-bottom: 20px;

    .right {
        position: relative;
        width: 100%;
        height: 100%;

        img {
            object-fit: cover;	
            width: 90%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    
    
    .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 110%;
    }

    .intro__bottom {
        width: 100%;
        position: absolute;
        bottom: 0; 
        display: flex;

        

        .btn {
            background: $yellow;
            border: none;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 42px;
            position: relative;
            z-index: 1;
        }

        
    
        a {
            text-decoration: underline;
            font-size: 26px;
            line-height: 58px;
            margin-left: 45px;
        }
    }
}

.btn--wrapper {
    position: relative;
    max-width: (114px + 53px + 53px + 1px);
}

.btn--blure {
    z-index: 0;
    width: 80%;
    height: 100%;
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translateX(-50%);
    background: #717334;
    filter: blur(15px);
    border-radius: 42px;
}

.blure2 {
    z-index: -1;
    height: 60%;
    top: 50%;
}

.underline {
    position: relative;

    &::after {
        content: '';
        display: block;
        width: 100%;
        background: #A6A849;
        border-radius: 14px;
        height: 23px;
        position: absolute;
        top: 63%;
        left: 0;
        z-index: -1;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5.5vh;
}

.header__item {
    display: flex;
    /*0 .28 */
    img {
        height: 70px;
        margin: auto;
        margin-right: 25px;
    }
/* 1vw = 19.2px*/
    
    .header__item--text {
        margin-left: 10px;
        position: relative;
        margin-right: 150px;

        h3 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%);
        }
    }

    

    

}

.btn {
    border: 2px solid #FFFFFF;
    border-radius: 42px;
    padding: 18px 33px;
    background: none;
}


.btn--yellow {
    border: none;
    margin-top: 35px;
    font-weight: bold;
    font-size: 26px;
    line-height: 103%;
    color: #FFFFFF;
    padding: 16px 53px;
    background: #A6A849;
    border-radius: 58px;
    z-index: 1;
}



nav {
    display: inline-block;
    padding-left: 25px;
    border-left: 2px solid #6B748A;
    height: 100%;
    position: relative;

}

.nav__links {
    display: flex;
    li {
        
        a {
            margin-right: 25px;
            font-size: 22px;
            line-height: 70px;
            text-transform: uppercase;
            text-decoration: none;
        
        }
        .nav__active {
            color: #fff;
            position: relative;

            &::after {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                bottom: -5px;
                width: 30px;
                height: 5px;
                
                background: #A6A849;
                border-radius: 9px;
            }
        }
    }
} 

