@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,800,700,900&subset=cyrillic-ext');
$base-font: 'Montserrat', sans-serif;
$main: #fff;
$grey: #6B748A;
$yellow: #A6A849;



body {
    font-family: $base-font;
    color: $main;
}


h1 {
    font-weight: 800;
    font-size: 60px;
    line-height: 103%;
    
}

h3 {
    display: block;
    font-weight: 700;
    font-size: 22px;
    line-height: 103%;
}


.btn {
    color: $main;
    font-weight: bold;
    font-size: 22px;
    line-height: 103%;
}


.nav__link {
    font-weight: 500;
    font-size: 22px;
    line-height: 103%;
    color: $grey;
}

h2 {
    font-weight: 800;
    font-size: 45px;
    line-height: 103%;
}

h4 {
    font-weight: 800;
    font-size: 45px;
    line-height: 103%;
    color: $main;
}

p {
    font-weight: 600;
    font-size: 26px;
    line-height: 103%;
    color: $grey;
}

.section__title--text {
    font-weight: 600;
    font-size: 26px;
    line-height: 103%;
    color: $grey;
}


.card__title {
    font-weight: bold;
    font-size: 28px;
    line-height: 103%;
}


.card__text {
    font-weight: bold;
    font-size: 16px;
    line-height: 103%;
    color: $grey;
}


.roadmap__title {
    font-weight: 800;
    font-size: 26px;
    line-height: 103%;
}


.yellow {
    color: $yellow;
}


.faq__item {
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 103%;
}

.faq__text {
    font-weight: 600;
    font-size: 22px;
    line-height: 103%;
    color: $grey;
}

.join__text {
    font-weight: 600;
    font-size: 26px;
    line-height: 103%;
    color: $main;
    margin-top: 45px;
    opacity: .8;
}